@font-face {
    font-family: 'Tajawal';
    src: url(../fonts/Tajawal-Regular.ttf);
}

@font-face {
    font-family: 'AeonikTRIAL';
    src: url(../fonts/AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: 'AbdElRady';
    src: url(../fonts/AbdElRadyRegular.otf);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AbdElRady';
    src: url(../fonts/AbdElRadyRegular.otf);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AbdElRady';
    src: url(../fonts/AbdElRadyRegular.otf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AbdElRady';
    src: url(../fonts/AbdElRady.otf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AbdElRady';
    src: url(../fonts/AbdElRady.otf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AbdElRady';
    src: url(../fonts/AbdElRady.otf);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AbdElRady';
    src: url(../fonts/AbdElRady.otf);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body,
html {
    direction: rtl;
    text-align: right;
    font-family: 'AbdElRady';
}

h1,
h2,
h3,
h6,
h5,
h4,
span,
p,
label,
a,
li, button {
    font-family: 'AbdElRady' !important;
}

.testimonial-area-4 .swiper-navigation {
    float: right !important;
}

.swiper-btn-nxt {
    float: left !important;
}

.swiper-btn-prv {
    float: left !important;
}

.section-title.section-left {
    text-align: right !important;
}

.why-choose-content .features-list .features-box {
    text-align: right !important;
}

.testimonial-heading-area {
    padding-left: 50px;
    padding-right: 0px !important;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.left {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg) !important;
}

.right {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg) !important;
}

.up {
    transform: rotate(-135deg) !important;
    -webkit-transform: rotate(-135deg) !important;
}

.course-area-6 .swiper-pagination {
    right: 0 !important;
    left: unset !important;
}

.categorie-grid.categorie-style .icon {
    right: 0px !important;
    left: unset !important;
}

.categorie-grid.categorie-style .content .title {
    margin-right: 60px !important;
    margin-left: unset !important;
}

.categorie-grid.categorie-style {
    text-align: right !important;
}

.edu-counterup {
    text-align: right !important;
}

/* header */
.features-box-2 {
    text-align: right !important;
}

.mainmenu-nav .mainmenu>li>a {
    font-weight: 600 !important
}

.image-container {
    border-radius: 16px 0 0 16px !important;
}

.features-box {
    text-align: right !important;
}

.rn-progress-parent svg.rn-back-circle path {
    stroke: #ffd166 !important;
}

.rn-progress-parent::after {
    color: #ffd166 !important;
}

.header-action li.icon a {
    text-align: right;
}

.features-program-sub img {
    margin-left: 15px !important;
    margin-right: unset !important;
}

.bJHeCB p {
    text-align: right !important;
}

.edu-header .header-brand .logo {
    margin-left: 40px;
    max-width: 100px !important;
    margin-right: unset !important;
}

.icon-lang {
    margin: 0px 0px 0px 5px !important;
}

.border-h {
    border-right: unset !important;
    border-left: 1px solid #c0c4e2 !important;
}

.cart-update-btn-area .product-cupon {
    padding: 5px 20px 5px 5px !important;
}

.blog-details-content .blog-tags .title, .blog-details-content .blog-share .title {
    margin-left: 12px;
    margin-right: unset !important;
}

.accordion-button:after {
    margin-right: auto;
    margin-left: unset !important;
}

.cart-update-btn-area .product-cupon .submit-btn {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 100px !important;
    border-top-left-radius: 100px !important;
}

.lang-li {
    right: unset !important;
    left: 0px;
}

.mainmenu-nav .mainmenu li.has-droupdown>a::after {
    left: -2px;
    right: unset !important;
}

.mainmenu-nav .mainmenu li.has-droupdown .submenu li a {
    text-align: right;
}

.banner-btn .btn-primary-gradient {
    margin-left: 20px;
    margin-right: unset !important;
}

.edu-hero-gallery {
    position: relative;
    direction: ltr;
}

.categorie-grid .content {
    text-align: right;
    padding-right: 5px;
}

.swiper-container {
    direction: ltr;
}

.img-testimonial-col-7 {
    right: unset !important;
    left: 0;
}

.testimonial-area-img>.swiper-navigation {
    float: right;
    margin-top: 25px;
}

.partner-bg:after {
    border-bottom-left-radius: unset !important;
    border-top-left-radius: unset !important;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    left: 0;
    right: unset !important;
    transform: translateX(-50%);
}

#partner .about-content {
    padding-right: 0px;
    padding-left: 30px;
}

.swiper-container {
    direction: ltr;
}

.program-box-bg::after {
    right: unset !important;
    left: 0;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    background-position: left top, right bottom;
}

.swiper-container-program {
    float: left;
    right: unset !important;
    left: 0;
    margin-right: 30px;
}

.custom-testimonial-col-7 {
    right: unset !important;
    left: 0;
}

.contact-us-image {
    right: unset !important;
    left: 0;
    transform: translateX(-25%) !important;
}


.auth-section::before {
    transform: scaleX(-100%) !important;
}

.nav-where-study {
    right: unset !important;
    left: 10%;
}

.custom-swiper-apply-process .swiper-pagination .swiper-pagination-bullet .num {
    margin-right: unset !important;
    margin-left: 10px;

}

.custom-swiper-apply-process .swiper-pagination .swiper-pagination-bullet .num::after {
    right: 18px !important;
    left: 0 !important;
}

.about-where-study-page-area .program-detail-box .main img {
    margin-right: unset !important;
    margin-left: 10px !important;
}

.ms-4 {
    margin-right: 1.5rem !important;
    margin-left: unset !important;
}

.university-program-area .university-program-area-box .inner .read-more-btn .btn:first-child {
    margin-left: 10px !important;
}

.auth-section::before {
    left: 0 !important;
}

.input-tel__input:not(.no-country-selector) {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0 !important;
}

.faq-accordion .accordion-item .accordion-button:before {
    right: unset !important;
    left: 30px !important;

}

.university-details-edmov .university-hero .university-image-details .hero-card-university {
    left: 15px !important;
    right: unset !important;
}

.university-details-edmov .university-features-area .main-title-university .title {
    color: #fff !important;
    text-align: right !important;
    z-index: 999 !important;
}

.university-details-edmov .university-features-area:after {
    transform: scaleX(-100%) !important;
}

.top-disciplines-countries img {
    margin-left: 10px !important;
}

.privacy-policy ul li:after {

    right: 0 !important;

}

.privacy-policy ul li {

    padding-right: 30px !important;
}

.university-program-area .university-program-area-box .inner .content .university-program-meta li img {
    margin-left: 5px !important;
    margin-right: unset !important;
}

.university-search-box .thumbnail img {
    margin-left: 10px !important;
    margin-right: unset !important;
}

.partner-bg:after {
    transform: translateX(-50%) !important;
    left: unset !important;
}

.mainmenu-nav .mainmenu li.has-droupdown .submenu li a {
    text-align: right !important;
}

.form-group.mobile, .vue-phone-number-input {
    direction: ltr !important;
}

.login-form-box .chekbox-area .edu-form-check label {
    padding-right: 5px !important;
    font-size: 14px !important;
}

.university-program-area .university-program-area-box {
    direction: rtl !important;
}

.icon-on-label {
    right: 15px !important;
    left: unset !important;

}

.filters-box .parent-filter-item .head {
    cursor: pointer;
    position: relative;
}

.filters-box .parent-filter-item .toggle-icon[data-v-34637849] {
    position: absolute;
    left: 0px;
}

.ms-4 {
    margin-right: 1.5rem !important;
}

.university-program-area .university-program-area-box .inner .content .university-program-meta {
    padding: 0 0 !important;
}

.edu-blog-widget.widget-search .blog-search .search-button {
    right: 30px !important;
    left: unset !important;
}

.edu-blog-widget.widget-search .blog-search input {
    padding: 0 56px 0 20px !important;
}

@media only screen and (max-width: 767px) {
    .h2, h2 {
        font-size: 27px;
        font-weight: 400 !important;
    }
}

.edu-footer.footer-lighten .widget-title {
    text-align: right !important;
}

.edu-footer.footer-lighten p {
    text-align: right !important;
}

.ms-4 {
    margin-left: unset !important;
    margin-right: 1.5rem !important;
}

.ms-auto {
    margin-left: unset !important;
    margin-right: auto !important;
}

.desc {
    font-family: 'AbdElRady' !important;
}

.university-program-area .my-application-box .info-box .apply-date img {
    margin-left: 8px !important;
    margin-right: unset !important;
}

@media only screen and (max-width: 767px) {
    .custom-swiper-apply-process .swiper-pagination .swiper-pagination-bullet .num::after {
        right: 56px !important;
    }
}

.university-program-area .university-program-area-box .inner .content .university li a img {
    margin-left: 10px !important;
    margin-right: unset !important;
}

.clear-btn {
    left: 120px !important;
    right: unset !important;
}

.blog-hero-area .blog-hero-area-content .title-descrption {
    padding-right: unset !important;
}


.filters-box .parent-filter-item .toggle-icon {
    left: 0 !important;
    right: unset !important;
}

.partners-page .features-box p {
    text-align: right;
}

.partners-page .features-box .features .feature .title-container h6 {
    text-align: right;
}

.partners-page .how-to-box h6 {
    text-align: right;
}

.text-danger {
    font-family: 'AbdElRady';
    text-align: right;
}

ul li {
    direction: rtl;
}

.swiper-wrapper .swiper-slide {
    padding: 10px !important;
    right: 0px;
}

ul {
    padding-left: unset !important;
    /* padding-right: 20px !important; */
    direction: rtl;
}

ul.university {
    padding-right: unset !important;
}

.faq-accordion .accordion-item .accordion-button {
    text-align: right;
}

@media only screen and (max-width: 575px) {
    .faq-accordion .accordion-item .accordion-button {
        text-align: right;
    }
}


.faq-accordion .accordion-item .accordion-button {
    padding: 20px 30px 20px 45px;
}

.program-detail-box .main img {
    margin-right: unset !important;
    margin-left: 10px;
}

@media only screen and (max-width: 410) {
    .program-detail-box .content {
        flex-direction: column !important;
    }
}

.dropdown-item {
    text-align: right !important;
}

input[type="tel"]::placeholder {
    text-align: right;
}

.close-model {
    float: left;
}

.edmov-mobile-menu.mainmenu .submenu-toggle {
    right: unset !important;
    left: 15px;
}

.sub-submenu-m {
    padding-left: unset !important;
    padding-right: 30px;
    list-style: none !important;
    font-weight: 400;
}

.whatsapp-icon {
    right: unset !important;
    left: 20px;
}

.university-program-area-box-2 .card-body .col .details-info,
.university-program-area-box-2 .card-body .col .price-label,
.university-program-area-box-2 .card-body .col .price {
    text-align: right !important;
}

/* .university-program-area-box-2 .card-body .col-degree .info-icon svg {
    margin-right: unset !important;
    margin-left: 3px !important;
} */


.university-program-area-box-2 .card-body .col .details-info {
    font-size: 13px !important;
}

.wizard-answer {
    text-align: right !important;
}

.btn-back-question {
    right: 30px !important;
    left: unset !important;
}

.btn-back {
    transform: unset !important;
}

.button-next-wizard {
    flex-direction: row-reverse !important;
}

.button-next-wizard svg {
    transform: unset !important;
}

.university-details-edmov .university-hero .hero-card-university .hero-university-box .content .title {
    text-align: right;
    padding: 0px;
}

.university-details-edmov .university-hero .hero-card-university .hero-university-box .content .title {
    padding-left: 20px !important;
    padding-right: unset !important;
}

.university-details-edmov .university-hero .hero-card-university .hero-university-box {
    direction: rtl !important;
}

.university-details-edmov .university-hero .hero-card-university .hero-university-box .content .title {
    padding: 0px 0px 0px 20px !important;
}

.university-details-edmov .university-hero .hero-card-university .hero-university-box {
    margin: 10px 0px 0px !important;
    direction: rtl !important;
}

.top-disciplines-area .top-disciplines-grid .content .title {
    font-size: 15px !important;
    text-align: right !important;
    padding: 0px 10px !important;
}

@media only screen and (max-width: 767px) {
    .university-details-edmov .university-features-area-tab .university-features-grid .content .title {
        font-size: 15px !important;
        text-align: right !important;
        padding: 0px 15px 0px 0px !important;
    }
}

.top-disciplines-countries img {
    margin-left: 10px !important;
}

.top-disciplines-title {
    margin: 30px 0px 10px 0px !important;
    font-size: 17px !important;
}

.university-details-edmov .university-features-area .main-title-university .title {
    text-align: right !important;
}

.university-details-edmov .university-hero .university-hero-location .location span {
    margin-right: 10px !important;
}

.university-program-area-box-2 .card-header-box {
    direction: rtl;
}

.btn-search-primary {
    margin-left: unset !important;
    margin-right: 5px;
}