.application-area {

    .application-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 25px;

        .application-count {
            h5 {
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                text-align: left;
                color: #000;
            }
        }

        .total {
            h5 {
                font-size: 20px;
                font-weight: 300;
                line-height: 14px;
                text-align: left;
                color: #667085;

                .count {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 14px;
                    text-align: left;
                    color: #000;
                }
            }
        }
    }

    .application-body-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px 50px;

        img {
            min-width: 320px;
        }

        h3 {
            font-size: 28px;
            font-weight: 600;
            color: #000;
            margin: 30px 0px 10px;
            
            @media #{$md-layout} {
                font-size: 18px;
            }
            
            @media #{$sm-layout} {
                font-size: 18px;
            }
        }

        p {
            font-size: 17px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: center;
            color: #000;

            span {
                font-size: 22px;
                font-weight: 600;
                line-height: 28.8px;
                text-align: center;
                color: #303DBF;
            }
        }

    }
}

.label {
    padding: 6px 16px 6px 16px;
    border-radius: 6px;
    width: 100%;
    display: block;
    margin: 10px 0px 15px;
    font-size: 14px;
    font-weight: 300;
}

.label-warning {
    color: #B54708;
    background: #FEF0C7;
}

.justify-content-flex-end {
    justify-content: flex-end !important;
}