.auth-section {
    position: relative;
    background: linear-gradient(221.46deg, #303DBF -35%, rgba(255, 255, 255, 0) 60%);
    margin-top: -90px;
    min-height: 700px;

    @media #{$sm-layout} {
        background: linear-gradient(221.46deg, #303DBF -23.33%, rgba(255, 255, 255, 0) 70.85%);
    }

    @media #{$md-layout} {
        background: linear-gradient(221.46deg, #303DBF -23.33%, rgba(255, 255, 255, 0) 70.85%);
    }

    .margin-top--200 {
        margin-top: 200px !important;
        padding: 30px 0px 80px;


        @media #{$sm-layout} {
            margin-top: 100px !important;
            padding: 0px 0px 30px;
        }

        @media #{$md-layout} {
            margin-top: 100px !important;
            padding: 0px 0px 30px;
        }
    }

    .margin-top--120 {
        margin-top: 120px !important;
        padding: 30px 0px 80px;


        @media #{$sm-layout} {
            margin-top: 100px !important;
            padding: 0px 0px 30px;
        }

        @media #{$md-layout} {
            margin-top: 100px !important;
            padding: 0px 0px 30px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 80px;
        width: 100%;
        background: url(/img/auth/Frame1171275730.svg), url(/img/auth/Frame1171275728.svg), url(/img/auth/vector-bg-1.svg) !important;
        background-size: contain, auto, contain !important;
        background-position: right, top right, right !important;
        background-repeat: no-repeat, no-repeat, no-repeat !important;
        height: 600px;

        @media #{$sm-layout} {
            background: unset !important;
        }

        @media #{$md-layout} {
            background: unset !important;
        }
    }

    .hero-auth-page {
        .auth-thumbnail {
            background-color: var(--color-white);
        }

    }

    .switcher-section {

        .title {
            h4 {
                font-size: 25px;
                color: #141A50;
                margin-bottom: 40px;
            }
        }

        .switcher-register-type {
            h5 {
                margin-bottom: 1rem;
                font-size: 18px;
                color: #272728;
            }

            .border-sign-up-box {
                margin-bottom: 1rem;
                padding: 16px;
                border-radius: 8px;
                border: 1px;
                background: #FFFFFF;
                border: 1px solid #B7B7B8;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                position: relative;
                min-height: 150px;
                margin-bottom: 30px;

                .signup-radio {
                    height: 25px;
                    width: 25px;
                    position: absolute;
                    right: 25px;
                }

                .title {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    left: 25px;
                    top: 50px;
                    position: absolute;

                    img {
                        margin-right: 0.5rem;
                    }

                    p {
                        margin: 0;
                    }
                }
            }

            .sign-helper {
                margin-top: 20px;

                p {
                    text-align: center;
                    color: #475467;

                    a {
                        color: #303DBF;
                    }
                }
            }

        }
    }


    .form-section {
        .primary-auth-container {
            margin: 35px 0px;

            .auth-divider {
                background-color: #e3e3e3;
                height: 0.5px;
                margin-bottom: 40px;
                text-align: center;

                .auth-divider-text {
                    background-color: #fff;
                    position: relative;
                    top: -0.9em;
                    padding: 0px 15px;

                    @media #{$sm-layout} {
                        background-color: #e9eaf8;
                        border-radius: 50%;
                    }

                    @media #{$md-layout} {
                        background-color: #e4e6f7;
                    }
                }

                .social-auth-button.link-button {
                    color: #323847;
                    font-weight: 600;
                    border-radius: 3px;
                    box-sizing: border-box;
                    color: #fff;
                    display: block;
                    font-size: 14px;
                    line-height: 50px;
                    margin-top: 15px;
                    padding-left: 90px;
                    padding-right: 40px;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }


}

.icon-on-label {
    position: absolute;
    top: 45px;
    left: 15px;
    transition: var(--transition);
    width: 18px;
}

.login-form-box {
    z-index: 1;

    @media #{$sm-layout} {
        padding: 40px 30px;
    }

    .title {
        margin-bottom: 5px;
    }

    a {
        color: var(--color-primary);

        &:hover {
            color: var(--color-primary);
        }
    }

    p {
        color: #68678B;
        margin-bottom: 25px;
        font-size: 14px;
    }

    .form-group {
        position: relative;
        margin-bottom: 12px;

        input,
        select {
            border: 1px solid var(--color-border) !important;
            height: 44px !important;
            border-radius: 5px !important;
            padding: 0px 45px;
        }

        .btn-primary-gradient {
            width: 100%;
        }

        .end-icon {
            position: absolute;
            top: 45px;
            right: 18px;
            color: #b2b2b2;
            font-size: 13px;
            cursor: pointer;
            transition: var(--transition);

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    .chekbox-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;

        @media #{$small-mobile} {
            display: block;
        }

        .edu-form-check {
            position: relative;

            label {
                padding-left: 5px;
                font-size: 14px !important;

                &:before {
                    background-color: #f7f7f7;
                    border-color: var(--color-border);
                }
            }

            input {
                height: auto;
                width: 14px;

                &:checked {
                    ~label {
                        &::before {
                            background-color: var(--color-primary);
                            border-color: var(--color-primary);
                        }

                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .password-reset {
            font-size: 14px;

            @media #{$small-mobile} {
                padding-left: 30px;
                margin-top: 5px;
            }
        }
    }
}

.mt-10 {
    margin-top: 10px;
}

.login-form-box-popup {
    z-index: 1;

    @media #{$sm-layout} {
        padding: 40px 30px;
    }

    .title {
        margin-bottom: 5px;
    }

    a {
        color: var(--color-primary);

        &:hover {
            color: var(--color-primary);
        }
    }

    p {
        color: #68678B;
        margin-bottom: 25px;
        font-size: 14px;
    }

    .form-group {
        position: relative;
        margin-bottom: 12px;

        input,
        select {
            border: 1px solid var(--color-border) !important;
            height: 44px !important;
            border-radius: 5px !important;
            padding: 0px 45px;
        }
    }

    .icon-on-label {
        right: 15px !important;
        left: unset !important;
    }

}