.blog-hero-area {
    padding: 70px 0;
    background-color: var(--color-primary-dark);
    position: relative;
    z-index: 0;

    @media #{$sm-layout} {
        padding: 20px 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url(/img/blog/Frame300.svg);
        background-position: right top;
        background-repeat: no-repeat;
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url(/img/blog/Frame461.svg);
        background-position: left bottom;
        background-repeat: no-repeat;
        z-index: 0;
    }

    .blog-hero-area-content {
        position: relative;
        z-index: 1000;

        .title {
            color: #fff;
            font-size: 38px;
            text-transform: capitalize;
        }

        .title-descrption {
            color: #fff;
            font-size: 15px;
            font-weight: 100;
            padding-right: 100px;

            @media #{$md-layout} {
                padding-right: 0px;
            }

            @media #{$sm-layout} {
                padding-right: 0px;
            }
        }

        .top-categories {
            @media #{$md-layout} {
                width: 50%;
            }

            @media #{$sm-layout} {
                width: 50%;
            }

            &.active {
                .top-categories-grid {
                    .content {
                        .title {
                            color: #3F51B5;
                        }
                    }
                }
            }

            .top-categories-grid {
                padding: 11px 6px;
                border-radius: 16px;
                background-color: #fff;
                margin: 5px 0px;

                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;

                @media #{$md-layout} {
                    min-height: 60px;
                    margin: 10px 0px;
                    text-align: center;
                    align-items: center;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                }

                @media #{$sm-layout} {
                    min-height: 60px;
                    margin: 10px 0px;
                    text-align: center;
                    align-items: center;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                }


                .content {
                    .title {
                        text-align: center;
                        font-weight: 400;
                        color: #000;
                        font-size: 13px;
                        margin: 0px;
                    }
                }
            }
        }



        @media #{$md-layout} {
            padding: 20px;
        }

        @media #{$sm-layout} {
            padding: 20px;
        }
    }

    .btn-blog-search {
        background-color: #fff;
        border-radius: 16px;
        color: #303DBF;
        height: 45px;

        @media #{$sm-layout} {
            font-size: 15px;
            width: 100%;
            padding: 0px;
        }
    }

    .blog-search {
        input {
            border-radius: 16px;

        }
    }

    .blog-search {
        .w-m-70 {
            @media #{$md-layout} {
                width: 70%;
            }

            @media #{$sm-layout} {
                width: 70%;

            }
        }

        .w-m-30 {
            @media #{$md-layout} {
                width: 30%;

            }

            @media #{$sm-layout} {
                width: 30%;

            }
        }
    }

    .blog-swiper {
        margin-bottom: 100px;
    }
}


.blog-details-hero-area {
    position: relative;
    background-color: #f9fafb;
    padding: 50px 0 0;

    .background-image {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 450px;
        object-fit: cover;

    }

    .blog-details-content {
        background-color: #fff;
        border-radius: 24px;
        padding: 35px 40px;
        margin-top: 0px;
        z-index: 1;
        position: relative;

        @media #{$md-layout} {
            margin-top: 0px;
        }

        @media #{$sm-layout} {
            margin-top: 0px;
        }

        .entry-content {
            .category {
                color: #303DBF;
                font-weight: 400;
                font-size: 18px;
                text-transform: capitalize;
                letter-spacing: 0px;
            }

            .title {
                font-weight: 400;
                font-size: 30px;
                line-height: 45px;
                border-bottom: 1px solid #D0D5DD;
                padding-bottom: 25px;


                @media #{$md-layout} {
                    font-size: 38px;
                    line-height: initial;
                }

                @media #{$sm-layout} {
                    font-size: 20px;
                    line-height: initial;
                }
            }

            .blog-meta {
                padding-top: 10px;
                padding-bottom: 40px;
            }
        }

        .details-content {
            background-color: #fff !important;
            background: #fff !important;

            div {
                background-color: #fff !important;
                background: #fff !important;
            }

            .title {
                color: #303DBF;
                font-size: 24px;
                //font-family: 'UrbaneRounded' !important;
            }

            span {
                //font-family: 'UrbaneRounded' !important;
            }

            a {
                color: #303dbf !important;
                text-decoration: none !important;
                font-weight: normal !important;
            }

            a:hover {
                color: #303dbf !important;
                text-decoration: underline !important;
            }

            p {
                display: block;
                color: #000 !important;
                font-size: 16px !important;
                background: #fff !important;
                max-width: 800px !important;
                overflow-wrap: break-word;
                box-sizing: unset !important;
                // min-height: 200px;
                white-space: break-spaces;
            }

            img {
                border-radius: 24px;
                margin-bottom: 30px;
            }

            blockquote {
                box-shadow: unset;
                background-color: var(--color-white);
                border-radius: 24px;
                padding: 32px 37px 32px 37px;
                position: relative;
                border: 2.5px solid #303DBF;
                margin: 0px;
                margin-bottom: 30px;
                font-family: 'UrbaneRounded' !important;

                &::after {
                    content: "";
                    font-size: 35px;
                    color: unset;
                    position: absolute;
                    top: 30px;
                    left: 40px;
                    background-image: url(/img/blog/blockquote-1.svg);
                    width: 165px;
                    height: 110px;
                    background-repeat: no-repeat;

                    @media #{$sm-layout} {
                        background-size: 100px 50px;
                        left: 0px;
                    }
                }

                &::before {
                    content: "";
                    font-size: 35px;
                    color: unset;
                    position: absolute;
                    bottom: 30px;
                    right: 40px;
                    background-image: url(/img/blog/blockquote-2.svg);
                    width: 165px;
                    height: 110px;
                    background-repeat: no-repeat;

                    @media #{$sm-layout} {
                        background-size: 100px 50px;
                        width: 100px;
                        height: 100px;
                    }
                }

                .author-blockquote {
                    .content {
                        display: flex;
                        align-items: flex-start;
                        align-content: center;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        max-height: 30px;
                        margin-top: 10px;

                        span {
                            color: #303DBF;
                            font-weight: 400;
                            font-size: 18px;
                        }

                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            margin-left: 5px;
                            padding-left: 10px;
                        }
                    }

                    .author-job {
                        font-weight: 400;
                        margin-left: 35px;
                        color: #667085;
                        font-size: 14px;
                        margin-top: 0px !important;
                    }

                }
            }

            .consolation {
                background-color: var(--color-white);
                border-radius: 24px;
                padding: 32px 37px 32px 37px;
                position: relative;
                border: 2.5px solid #303DBF;

                .title {
                    color: #303DBF;
                    font-size: 32px;
                    font-weight: 400;
                    margin-bottom: 5px;
                }

                p {
                    color: #68678B;
                    font-size: 16px;
                    margin-bottom: 0px;
                }
            }
        }

        .blog-meta li {
            display: flex;
            align-items: center;
            margin-right: 50px;

            @media #{$md-layout} {
                margin-right: 0px;

            }

            @media #{$sm-layout} {
                margin-right: 0px;

            }
        }

        .blog-meta li:after {
            height: 0px;

            @media #{$sm-layout} {
                height: 0px;
            }
        }
    }
}

.blog-section-area {
    background-color: #F9FAFB;
    padding: 50px 0px 0px;

    .edmov-blog-box {
        border-radius: 16px;
        margin-bottom: 30px;
        cursor: pointer;

        .inner {
            .thumbnail {
                border-radius: 16px 16px 0px 0px;
                height: 200px;

                a {
                    height: 200px;
                    width: 100%;
                    border-radius: 16px 16px 0px 0px;

                    img {
                        object-fit: cover;
                        height: 200px;
                        display: block;
                        width: 100%;
                        border-radius: 16px 16px 0px 0px;

                    }
                }
            }

            .content {
                padding: 10px 20px 10px;
                border-radius: 0px 0px 16px 16px;
                background-color: #fff;
                position: relative;

                .course-level {
                    font-weight: 100;

                    a {
                        color: #5C66D6;
                        font-size: 14px;
                        padding: 10px 0px;
                        font-weight: 100;

                        &:hover {
                            color: var(--color-primary-dark);
                        }

                    }
                }

                .title {
                    margin-bottom: 5px;

                    a {
                        color: #000000;
                        font-size: 18px;

                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }

                .description {
                    color: #98A2B3;
                    font-size: 14px;
                    margin-bottom: 5px;
                    line-height: 20px;
                    font-weight: 300;
                }
            }
        }

        &:hover {
            .content {
                background-color: #fff;
                border-radius: 4px;
                border-bottom: 3px solid #3F51B5;
            }
        }
    }

    .edmov-blog-box-full-image {
        .inner {
            .thumbnail {
                border-radius: 32px;
                width: 100%;
                position: relative;
                height: 500px;

                a {
                    border-radius: 32px;
                    width: 100%;
                    height: 500px;

                    img {
                        border-radius: 32px;
                        width: 100%;
                        height: 500px;
                        object-fit: cover;
                    }

                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 32px;
                }
            }

            .content {
                padding: 10px 20px;
                border-radius: 0px 0px 16px 16px;
                position: absolute;
                bottom: 20px;
                left: 20px;

                .course-level {
                    font-weight: 100;

                    a {
                        color: #fff;
                        font-size: 14px;
                        padding: 10px 0px;
                        font-weight: 100;
                        width: 40%;

                        @media #{$md-layout} {
                            width: 100%;
                        }

                        @media #{$sm-layout} {
                            width: 100%;
                        }

                        &:hover {
                            color: var(--color-primary-dark);
                        }

                    }
                }

                .title {
                    margin-bottom: 15px;

                    a {
                        color: #fff;
                        font-size: 30px;
                        width: 55%;

                        @media #{$sm-layout} {
                            width: 100%;
                        }

                        &:hover {
                            color: #D0D5DD;
                        }
                    }
                }

                .description {
                    color: #D0D5DD;
                    font-size: 14px;
                    margin-bottom: 25px;
                    line-height: 20px;
                    font-weight: 200;
                    width: 80%;
                    font-family: 'UrbaneRounded-Light';

                    @media #{$md-layout} {
                        width: 100%;
                        font-size: 16px;
                    }

                    @media #{$sm-layout} {
                        font-size: 16px;

                        width: 100%;
                    }
                }

                .see-more {
                    a {
                        color: #fff;
                        font-size: 14px;
                        line-height: 45px;

                        &:hover {
                            color: #ddd;
                        }
                    }

                    .icon {
                        width: 45px;
                        height: auto;
                    }
                }
            }
        }

    }
}

.swiper-pagination {
    text-align: center;

    .swiper-pagination-bullet {
        background-color: #545454;
    }

    .swiper-pagination-bullet-active {
        background-color: #303DBF !important;
    }
}


.blog-hero-area {
    .blog-hero-area-content {
        @media (min-width: 1199px) {
            .col-18 {
                width: 18% !important;
            }
        }
    }

}

@media (max-width: 1199px) {
    .blog-hero-area .blog-hero-area-content .top-categories .top-categories-grid {
        /* height: 37px; */
        padding: 0px 10px;
    }

    .blog-hero-area .blog-hero-area-content .title {
        font-size: 27px;
    }
}