/*-------------------
 * Button
---------------------*/
a,
button {
    &.btn-transparent {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: var(--color-textSecondary);
        display: inline-block;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            left: auto;
            right: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background: var(--color-primary);
        }

        i {
            padding-left: 6px;
            top: -1px;
            position: relative;
            font-size: 12px;
        }

        &:hover {
            color: var(--color-primary);

            &::after {
                width: 100%;
                left: 0;
                right: auto;
            }
        }
    }
}

a,
button {
    &.btn {
        text-align: center;
        display: inline-block;
        border-radius: var(--border-radius-btn);
        font-size: 14px;
        font-family: var(--font-secondary);
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding: 10px 35px;
        font-weight: 500;
        text-transform: capitalize;

        // @media #{$md-layout} {
        //     padding: 10px 0px;
        // }

        // @media #{$sm-layout} {
        //     padding: 10px 0px;
        // }

    }

    &.btn-primary,
    &.btn-primary-white {
        color: var(--color-white);
        background: var(--color-primary);
        border-color: var(--color-primary) !important;

        i {
            font-size: 10px;
        }

        &:hover {
            border-color: #0a58ca !important;
        }
    }

    &.btn-primary-gradient {
        color: var(--color-white);
        background: linear-gradient(90deg, #1d2bba 0%, #3c0894 100%);

        i {
            padding-left: 6px;
            position: relative;
            font-size: 11px;

            @media #{$sm-layout} {
                font-size: 9px;
            }
        }

        &:hover {
            border-color: unset;
            color: #fff !important;
            background-color: #0a58ca;
        }
    }

    &.btn-primary-white {
        color: var(--color-primary);
        background: var(--color-white);
        border: 2px solid var(--color-primary);

        &:hover:not(:has(.animation-bg-blue)) {
            color: #fff;
            background-color: #0a58ca;
            border-color: #0a58ca !important;
        }
    }

    &.btn-primary-white-without-border {
        color: var(--color-primary);
        background: var(--color-white);
    }
}

.button-group {
    display: flex;
    align-items: center;
    margin: -5px;

    a {
        margin: 5px;
    }
}

.wishlist-btn {
    background: rgba(255, 255, 255, 0.15);
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;

    i {
        color: var(--color-white);
        font-size: 19px;
    }

    &.btn-outline-dark {
        height: 50px;
        width: 50px;
        line-height: 55px;
        color: var(--color-heading);
        pointer-events: all;

        i {
            color: var(--color-heading);
        }

        &:hover {
            i {
                color: var(--color-white);
            }
        }
    }
}

.btn-icon-round {
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    font-size: 12px;
}

.btn-center {
    margin: auto;
    display: block;
    width: fit-content;
    margin-top: 50px;
}

.login-btn,
.signup-btn {
    padding: 10px 32px !important;
    height: 40px !important;
}

header .btn-light {
    background: unset;
}

.btn-light {
    border-radius: var(--border-radius-btn);
    font-size: 13px;
    color: rgba(84, 83, 120, 1);
}

.btn-light:hover {
    color: var(--color-primary);
}



.banner-btn {
    margin-top: 80px;

    @media #{$sm-layout} {
        margin-top: 30px;
    }

    @media #{$md-layout} {
        margin-top: 30px;
    }

    .btn-primary-gradient {
        margin-right: 20px;
        width: 100%;

        @media #{$sm-layout} {
            margin-top: 15px;
        }
    }

    .btn-primary-white {
        width: 100%;

        @media #{$sm-layout} {
            margin-top: 15px;
        }
    }

    .btn-hero {
        height: 50px;
        padding: 12px 10px;
        font-weight: 500;
        font-size: 16px;
    }
}

.btn-no-border {
    border: unset !important;
}

.button-social-auth {
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
    border: 1px;
    background: #fff;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
    color: #344054;

    img {
        height: 20px;
        margin-bottom: 8px;
    }
}

.btn-home-cta {
    padding: 13px 61px;
    height: fit-content;
    margin-top: 15px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

a.btn-primary-gradient,
button.btn-primary-gradient {
    color: #ffffff;
    color: var(--color-white);
    background: linear-gradient(90deg, #1d2bba 0%, #3c0894 100%);
    box-shadow: 0px 8px 8px -4px #10182808;
    box-shadow: 0px 20px 24px -4px #10182814;
}

.banner-btn .btn-hero {
    border-radius: 16px;
    font-size: 15px;
    font-weight: 600;
    height: 50px;
    padding: 12px 0px;
    letter-spacing: 0;
}

.banner-btn .btn-primary-white {
    border: 3px solid;
}