.dashboard-student {
    .brand-logo {
        margin-top: 50px;

        img {
            width: 150px;
        }
    }

    .sidebar-item {
        a {
            span {
                color: #475467;
                font-size: 16px;
                font-weight: 500;
                text-align: left;
            }
        }
    }

    .sidebar-nav {
        ul {
            padding-left: 0px !important;
        }
    }


    .sidebar-nav ul .sidebar-item .sidebar-link {
        margin-top: 20px;
        margin-bottom: 20px;


        svg.strake {
            path {
                stroke: #475467;
            }
        }

        svg.fill {
            path {
                fill: #475467;
            }
        }

    }

    .nuxt-link-exact-active {
        color: #fff !important;
        background: #303dbf;

        span {
            color: #fff !important;

            svg.strake {
                path {
                    stroke: #fff !important;
                }
            }

            svg.fill {
                path {
                    fill: #fff !important;
                }
            }
        }

    }

    .sidebar-nav ul .sidebar-item .sidebar-link:hover {
        background: #303dbf;

        span {
            color: #fff;
        }

        svg.strake {
            path {
                stroke: #fff;
            }
        }

        svg.fill {
            path {
                fill: #fff;
            }
        }

    }

    .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active,
    .sidebar-nav ul .sidebar-item.selected>.sidebar-link,
    .sidebar-nav ul .sidebar-item>.sidebar-link.active {
        background-color: var(--bs-primary);

        span {
            color: #fff;
        }
    }

    .help-center-sidebar {
        padding: 20px 10px;
        border-radius: 16px;
        background: #F9FAFB;
    }

    .unlimited-access-details {

        p,
        h6 {
            margin-bottom: 5px;
        }
    }

    .help-center-sidebar-p {
        color: #344054;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        margin-bottom: 13px;
    }

    .help-center-sidebar-button {
        font-size: 14px !important;
        height: 44px;
        border-radius: 8px;
    }

    .logout {
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .left-sidebar .sidebartoggler {
        color: var(--bs-dark-text-emphasis);
        right: 30px;
        position: absolute;
        top: 20px;
    }



    .topbar {
        padding-top: 30px;
    }

    .hero-sidebar-dashboard {
        margin: 30px 0px 30px;

        .btn-primary {
            background: #303DBF;
            height: 50px;
            border-radius: 16px;
            padding: 14px 0px;
            margin-top: 10px;
        }

        .btn-primary-white {
            background: #fff;
            height: 50px;
            border-radius: 16px;
            padding: 14px 0px;
            border: unset !important;
            margin-top: 10px;
        }

        .btn-primary:hover {
            background: #3c64d7 !important;
        }

        .btn-primary-white:hover {
            background: hsl(229, 44%, 92%) !important;
            color: #303DBF !important;
        }
    }

    .title-dashboard-h4 {
        color: #000000 !important;
        font-size: 23px !important;
        font-weight: 500;
        text-align: left;
    }

    .navbar-nav-dash {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .topbar {
        @media #{$md-layout} {
            padding: 20px 0px;
        }

        @media #{$sm-layout} {
            padding: 20px 0px;
        }
    }

    .welcome-sidebar {
        color: #303DBF !important;
        font-size: 24px !important;
        font-weight: 600 !important;
        line-height: 24px !important;

        @media #{$md-layout} {
            font-size: 20px !important;
        }

        @media #{$sm-layout} {
            font-size: 18px !important;
        }
    }



    .topbar-mobile {

        padding: 0px !important;
        margin: 0px !important;

        .navbar-dash-mobile {
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            width: 100% !important;
            flex-direction: row;
        }
    }

    .footer-mobile {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        height: fit-content;
        z-index: 99999;

        nav {
            width: 100%;

            ul {

                display: flex;
                margin: 0px;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
            }
        }

        .nuxt-link-exact-active {
            color: #fff !important;
            background: #303dbf;
            padding: 10px;
            height: 42px;
            border-radius: 39px;

            .text-span-footer {
                display: block;
            }

        }

        .sidebar-item a span {
            color: #475467;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            display: flex;
        }

    }

    .footer-mobile>svg {
        height: 21px;
    }

    .text-span-footer {
        display: none !important;
    }

    svg.strake {
        path {
            stroke: #475467;
        }
    }

    svg.fill {
        path {
            fill: #475467;
        }
    }
}

.program-features-grid {
    padding: 15px 20px 15px 20px;
    border-radius: 16px;
    background-color: #fff;
    margin: 10px 0px;

    a {
        font-weight: 400;
        font-size: 15px
    }
}