.our-story-hero-area {
    background-color: #F9FAFB;
    position: relative;
    padding-bottom: 100px;

    @media #{$lg-layout} {
        padding-bottom: 0px;
    }

    @media #{$md-layout} {
        padding-bottom: 0px;
    }

    @media #{$sm-layout} {
        padding-bottom: 0px;
    }

    .our-story-content-hero {
        background: #FFFFFF;
        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.1803921569);
        padding: 20px;
        border-radius: 16px;
        bottom: 12px;
        position: absolute;
        right: 200px;
        width: 350px;

        @media #{$lg-layout} {
            width: 100%;
            position: relative;
            left: auto;
        }

        @media #{$md-layout} {
            width: 100%;
            position: relative;
            left: auto;
            right: unset;
            bottom: unset;
            margin: 10px 0px;
        }

        @media #{$sm-layout} {
            width: 100%;
            position: relative;
            left: auto;
            right: unset;
            bottom: unset;
            margin: 10px 0px;
        }

        h4 {
            margin: 0px;
            color: #303DBF;
            font-size: 18px;
        }

        p {
            margin: 0px;
            font-weight: 400;
            color: #344054;
            font-size: 14px;
        }
    }
}


.our-story-mission-area {
    position: relative;
    padding: 100px 0px;
    background: linear-gradient(90.84deg, #04005C -3.78%, rgba(48, 61, 191, 0.2) 107.92%), url('/img/our_story/Frame846.jpg');
    background-size: cover;
    background-position: center;



    .main-title {
        h4 {
            color: #FFFFFF;
            width: 55%;
            font-weight: 100;
            font-size: 22px;
            margin-bottom: 50px;

            @media #{$md-layout} {
                width: 80%;
            }

            @media #{$sm-layout} {
                width: 100%;
            }
        }
    }

    .mission-grid {
        background-color: #fff;
        padding: 30px;
        border-radius: 16px;
        float: right;
        margin: 10px 0px;
        min-height: 250px;

        .content {
            .title {
                margin: 0px;
                color: #303DBF;
                font-size: 18px;
                margin-bottom: 10px;
            }

            p {
                margin: 0px;
                font-weight: 400;
                color: #344054;
                font-size: 14px;
                line-height: auto;
            }
        }
    }
}


.our-story-value-area {
    background: #F9FAFB;
    padding: 50px 0px;

    h2 {
        color: #303DBF;
    }

    .value-grid {
        margin: 10px 0px;

        .content {
            background-color: #fff;
            border-radius: 8px;
            float: right;
            display: flex;
            align-items: center;
            padding: 25px;
            min-height: 210px;
            align-content: center;
            flex-direction: column;
            justify-content: flex-start;

            .title {
                margin: 0px;
                color: #000000;
                font-size: 18px;
                margin-bottom: 10px;
            }

            p {
                margin: 0px;
                font-weight: 400;
                color: #344054;
                font-size: 14px;
                line-height: auto;
            }
        }
    }
}


.our-story-partner-area {
    background: #F9FAFB;
    padding: 50px 0px;

    h2 {
        color: #303DBF;
    }

    .partner-grid {
        border-radius: 16px;
        padding: 20px;
        margin: 10px;

        @media #{$sm-layout} {
            border-radius: 16px;
            padding: 10px;
            margin: 10px;
        }

        img {
            display: block;
            margin: auto;
            height: 100px;
            object-fit: contain;
        }

        &.odd {
            background: #EFF0FB;

        }

        &.even {
            background: #FFFFFF;

        }
    }

    .col-md-5-offset {
        margin-left: 2.333333%;

        @media #{$md-layout} {
            margin-left: 0px;

            .partner-grid {
                &.odd {
                    background: #F9FAFB;

                }
            }
        }

        @media #{$sm-layout} {
            margin-left: 0px;
        }
    }
}

.our-story-main-title {
    color: #303DBF;
    margin-bottom: 14px;
    font-size: 30px;
    font-weight: 500;
}

.color-white {
    color: #fff !important;
}

.our-story-team-area {
    background: linear-gradient(98.57deg, #04005C -1.72%, #303DBF 98.14%);
    padding: 50px 0px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/img/our_story/Group29.svg);
        background-position: right top;
        background-repeat: no-repeat;
        z-index: 0;

        @media #{$sm-layout} {
            background-image: "" !important;
            z-index: -1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/img/our_story/Group28.svg);
        background-position: left top;
        background-repeat: no-repeat;
        z-index: 0;

        @media #{$sm-layout} {
            background-image: "" !important;
            z-index: -1;
        }
    }

    .team-grid {

        img {
            border-radius: 50%;
            height: 250px;
            width: 250px;
            -o-object-fit: cover;
            object-fit: cover;
            margin: auto;
            display: block;
            margin-bottom: 10px;

            @media #{$sm-layout} {
                height: 150px;
                width: 150px;
            }
        }

        .content {
            h4 {
                color: #fff;
                margin: 0px;
                padding: 0px;
                text-align: center;
            }

            p {
                color: #fff;
                margin: 0px;
                padding: 0px;
                text-align: center;
            }
        }
    }
}



.our-story-story-area {
    padding: 50px 0px;
    position: relative;
    background: #F9FAFB;

    @media #{$sm-layout} {
        padding: 0px;
    }

    .apply-process-story {
        ul {
            li {
                min-height: 65px;
                // position: relative;
                // color: #1D2939;
                list-style: none;


                // &:not(:last-child) {
                //     &::after {
                //         content: "";
                //         position: absolute;
                //         top: 22px;
                //         left: 0;
                //         right: 0;
                //         bottom: 0;
                //         background-image: url(/img/where_study/line.svg);
                //         background-repeat: no-repeat;
                //         background-size: 60px 56px;

                //         @media #{$sm-layout} {
                //             left: 8px;
                //             background-size: unset;
                //         }
                //     }
                // }
            }
        }

        .ball-process {
            background: #d0d5dd;
            border-radius: 50%;
            display: block;
            height: 15px;
            width: 15px;
            // margin: auto;


            // @media #{$sm-layout} {
            //     margin: 0px 4px;

            // }

            &.active {
                background: #303DBF;
            }

            img {
                margin-top: 20px;
                margin-left: 6px;
                max-height: 40px;
            }
        }
    }

    .step-career-story {
        background: unset;
        display: block;
        margin: auto;
        margin-top: 100px;

        @media #{$sm-layout} {
            margin-top: 0px;
        }

        .title-process {
            color: #303DBF;
            font-weight: 400;
            font-size: 19px;
            margin-top: 50px;
        }

        .content {
            h4 {
                margin: 0px;
                padding: 0px;
            }

            p {
                margin: 0px;
                padding: 0px;
            }
        }
    }
}

.d-flex-mobile {
    @media #{$sm-layout} {
        display: flex;
    }
}

.col-mobile-2 {
    @media #{$md-layout} {
        width: 20%;
    }

    @media #{$sm-layout} {
        width: 20%;
    }
}

.col-mobile-10 {
    @media #{$md-layout} {
        width: 80%;
    }

    @media #{$sm-layout} {
        width: 80%;
    }
}



.custom-swiper-our-story {
    .swiper-pagination {
        display: flex;

        @media #{$sm-layout} {
            display: flex;
            align-items: center;
            flex-direction: row;
            overflow-x: scroll;
            height: max-content;
            overflow-y: hidden;
            padding: 0px 0px 20px;
        }


        .swiper-pagination-bullet {
            height: fit-content;
            width: fit-content;
            background-color: unset !important;
            margin: 10px 10px !important;
            display: inline-block;
            border-radius: unset;
            cursor: pointer;
            display: flex;
            align-items: center;
            min-height: 50px;

            @media #{$sm-layout} {
                min-height: fit-content;
                display: flex;
                flex-direction: column;
                width: max-content;
                white-space: nowrap;
                margin: 0px 10px !important;
                min-width: 75px;
            }

            .num {
                background: #ddd;
                color: #667085;
                border-radius: 50%;
                display: block;
                width: 15px;
                height: 15px;
                text-align: center;
                position: relative;

                @media #{$sm-layout} {
                    border-radius: 50%;
                    height: 20px;
                    /* margin-bottom: 10px; */
                    /* padding: 11px 0; */
                    width: 20px;
                }


                &::after {
                    content: "";
                    position: absolute;
                    top: 20px;
                    left: 5px;
                    right: 0;
                    height: 40px;
                    width: 10px;
                    background-image: url(/img/where_study/line.svg);
                    background-repeat: no-repeat;

                    @media #{$sm-layout} {
                        content: "";
                        position: absolute;
                        top: 7px;
                        left: 30px;
                        right: 0;
                        height: 10px;
                        width: 60px;
                        background-image: url(/img/where_study/line-2.svg);
                    }
                }

                &.last {
                    &::after {
                        content: "";
                        position: absolute;
                        background-image: unset !important;
                    }
                }
            }
        }

        .swiper-pagination-bullet-active {
            background-color: unset !important;

            .num {
                background: #303DBF;
                color: #fff;
            }
        }
    }

}