.program-details-hero {
    padding: 50px 0 0;

    .university-hero-img {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .thumbnail {
            img {
                max-width: 50px;
                height: 50px;
                margin-right: 10px;
            }
        }

        .author-content {
            h6 {
                color: #475467;
                font-size: 25px;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 0px;

                @media #{$md-layout} {
                    font-size: 20px;
                }

                @media #{$sm-layout} {
                    font-size: 20px;
                }
            }
        }
    }

    .university-hero-location {
        margin-bottom: 25px;

        .location {
            display: flex;
            align-items: center;
            margin: 0px 0px 10px;

            i {
                margin-right: 5px;
                color: #303DBF;
                font-size: 18px;
            }

            .subtitle {
                color: #667085;
                margin: 0px 5px 0px 7px;
                font-weight: 400;
                font-size: 13px;
            }

            .title {
                color: #303DBF;
                font-weight: 500;
                font-size: 14px;
            }
        }

        .btn-apply {
            .btn-lg {
                width: 80%;
                padding: 10px 20px;
                height: 50px;
                font-size: 17px;
            }

        }
    }

    .hero-card-university {


        .hero-university-box {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: #fff;
            padding: 24px 15px 24px 15px;
            border-radius: 16px;
            min-height: 200px;
            position: relative;
            z-index: 10000;

            @media #{$sm-layout} {
                margin: 10px 0px 0px;
            }

            .content {
                color: #475467;
                display: flex;
                flex-direction: column;
                min-height: 155px;

                .icon {
                    color: #475467;

                    img {
                        width: 50px;
                    }
                }

                .title {
                    color: #475467;
                    font-weight: 400;
                    font-size: 14px;
                    margin-top: 10px;
                    padding: 0px 20px 0px 0px;
                }

                p {
                    color: #303DBF;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }

    .university-image-details {
        position: relative;

        .university-img-full {
            img {
                border-radius: 24px;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .hero-card-university {
            position: absolute;
            top: -120px;
            right: 15px;

            @media #{$sm-layout} {
                top: -50px;
                right: initial;
                position: relative;
            }
        }
    }



    .btn-apply-desktop {

        @media #{$sm-layout} {
            display: none;
        }
    }

    .btn-apply-mobile {
        display: none;
        width: 100%;

        @media #{$sm-layout} {
            display: block;
        }

        a {
            width: 100%;
        }
    }


}





.program-feature-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    padding: 24px 15px 24px 15px;
    border-radius: 16px;

    @media #{$sm-layout} {
        margin: 10px 0px 0px;
    }

    .content {
        color: #475467;
        display: flex;
        flex-direction: column;

        .icon {
            color: #475467;
            width: 50px;

            img {
                width: 30px;
            }
        }

        .title {
            color: #475467;
            font-weight: 400;
            font-size: 14px;
            margin: 10px 0px 10px;

            @media #{$sm-layout} {
                height: 25px;
                font-size: 14px;
            }
        }

        p {
            color: #303DBF;
            margin: 0px;
        }
    }
}

.program-detail-box {
    padding: 10px 30px;
    background: #fff;
    margin: 10px 0px;
    border-radius: 16px;

    @media #{$sm-layout} {
        padding: 10px 10px;
    }

    .content {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        @media #{$sm-layout} {
            display: flex;
            justify-content: space-between;
        }

    }


    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        img {
            margin-right: 10px;
        }

        h4,
        .title {
            color: #475467;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            padding: 5px 0px;
            margin: 0px;
            min-width: fit-content;
        }
    }

    p {
        color: #303DBF !important;
        font-size: 16px !important;
        margin-bottom: 0px !important;

        @media #{$sm-layout} {
            margin-top: 0px;
        }

        span {
            color: #303DBF99;
            font-size: 14px;
        }
    }

}

.study-plan {
    display: flex;
    padding: 40px 0 0;
    margin-bottom: -10px;

    .title {
        color: #667085;
        font-size: 27px;
        font-weight: 400;
        text-transform: capitalize;
        padding-right: 10px;

        @media #{$sm-layout} {
            font-size: 23px !important;
        }
    }

    a {
        color: #303DBF;
        font-size: 14px;
        padding: 10px 0px;
        text-decoration: underline;
    }
}

.program-hero-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 30px;

        @media #{$sm-layout} {
            width: 100%;
            font-size: 23px;
        }
    }
}

.program-feature {
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    background: #FEFBE8;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 45px;

        @media #{$sm-layout} {
            width: 40px;
        }
    }

    span {
        color: #344054;
        text-align: center;

        @media #{$sm-layout} {
            font-size: 15px;
        }
    }


}

.btn-area-program {
    width: 50%;

    @media #{$sm-layout} {
        width: 100%;
    }

    @media #{$md-layout} {
        width: 100%;
    }

    .btn-primary-white {
        padding-left: 0px;
        padding-right: 0px;
        height: 45px;

        @media #{$sm-layout} {
            margin-top: 10px;
        }
    }

    .btn-primary {
        height: 45px;
    }
}

.program-details-hero {
    padding: 10px 0px;
}

.program-hero-box .title {
    font-size: 29px;
    font-weight: 500;
}

.program-details-hero .university-hero-img .thumbnail img {
    width: 50px;
    object-fit: cover;
}

.program-details-hero .university-hero-img .author-content h6 {
    font-size: 20px;
}

.recognizing {
    // width: fit-content;
    // text-align: center;
    // margin-bottom: 25px;

    // .program-features-grid {
    //     padding: 15px 64px 15px 64px;
    //     margin: 10px 16px;
    // }
}

.program-exam-area {

    padding: 50px 0 0;
}

.program-exam-section {


    .title {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #000;

        img {
            width: 30px;
            margin-right: 10px;
        }
    }

    .sub-exam-program-area {
        margin-left: 30px;

        .sub-exam-program {
            display: flex;
            align-items: center;
            margin: 20px 0px;

            img {
                margin-right: 10px;
                width: 25px;
            }

            span {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: #475467;
            }
        }

    }

    .minimum-requirements-section {
        padding: 15px 10px;
        background: #fff;
        text-align: center;

        span {
            color: #000;
            font-size: 14px;
            font-weight: 500;
        }

        .score {
            color: #303DBF;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.university-program-area-box-2 {
    border: 1px solid #EAECF0;
    background: #FFFFFF;
    padding: 16px;
    border-radius: 16px;
    margin: 20px 0px;

    .card-body {
        .info-section {
            border-bottom: 1px solid #EAECF0;
            padding-bottom: 15px;
            padding-top: 15px;
        }

        .price-section {
            padding: 15px 0px;
        }

        .col-degree {

            .details-info {
                //    margin-left: 16px;
            }
        }

        .col {
            text-align: start;


            .info-icon {
                color: #344054;
                font-size: 14px;
                font-weight: 300;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                align-items: center;

                span {
                    padding: 2px;
                }
            }

            .details-info {
                color: #1D2939 !important;
                font-size: 14px;
                font-weight: 500;
                margin: 0px !important;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                svg {
                    margin: 0px 2px;
                }
            }



            .price-label {
                margin: 0px !important;
                font-weight: 500;
                color: #667085;
                font-size: 14px;
                text-transform: capitalize;
            }

            .price {
                margin: 0px !important;
                color: #000000;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .card-header-box {
        border-bottom: 1px solid #EAECF0;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: nowrap;
        align-items: flex-start;

        .university-info {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
            align-items: center;

            .university-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;

                a {
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    img {
                        height: 31px;
                        border-radius: 50%;
                    }

                    h5 {
                        margin-bottom: 0px;
                        color: #344054;
                        font-size: 14px;
                        font-weight: 500;
                        padding: 0px 5px;
                    }
                }
            }

            .favorite-icon {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }

        .program-title-details {
            padding-top: 5px;

            a {
                h2 {
                    font-size: 17px;
                    font-weight: 500;
                    padding: 0px 3px;
                    margin-bottom: 10px !important;
                }
            }
        }

    }

    .btn-program-force {
        border-radius: 8px !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        width: 100% !important;
        padding: 0px 15px !important;
        text-align: center !important;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.font-14 {
    font-size: 15px !important;
}

.info-icon {
    svg {
        // margin-right: 10px;
        // margin-left: 10px;
        margin-bottom: 5px;
    }
}

.university-program-area-box-2 .card-body .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.total_result {
    color: #667085;
    font-weight: 300;
}

.facilities-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 10px;

    span {
        font-size: 14px;
        background: #d7d5ff;
        padding: 5px 7px;
        border-radius: 5px;
        height: min-content;
        min-width: min-content;
        margin-left: 5px;
        margin-bottom: 5px;
        display: block;
    }

    .toggle-btn {
        border: unset;
        margin: 0px 5px;
        background: unset;
        text-decoration-line: underline;
        font-size: 11px;
        color: #937070;
        margin-bottom: 5px;
    }
}

.room-area-box-2 .card-body .col .price {
    margin: -3px 0px !important;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}


.room-area-box-2 {
    svg {
        width: 15px;
        height: 15px;
        color: #303DBF;
        margin: unset !important;
    }

    .roomImage {
        img {
            height: 60px;
            width: 150px;
            -o-object-fit: contain;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 10px;
        }

    }

    a.btn-primary-white,
    button.btn-primary-white {
        color: #303DBF;
        color: var(--color-primary);
        background: #ffffff;
        background: var(--color-white);
        border: 2px solid #303DBF;
        border: 2px solid var(--color-primary);
        border-radius: 8px !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        width: 100% !important;
        padding: 0px 15px !important;
        text-align: center !important;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

.university-program-area-box-2 .card-header-box .program-label span {
    font-size: 12px;
    background: #ffc9c9;
    padding: 3px 7px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    display: inline-block;
}

.program-detail-box {
    svg {
        width: 25px;
        height: 25px;
        color: #303DBF;
        margin-right: 5px;
    }
}

.rooms-details-edmov .gallery-area img {
    height: fit-content !important;
    width: fit-content !important;
    object-fit: contain !important;
    border-radius: 16px;
}