.search-program-edmov {
    background-color: #EAECF0;

    .search-program-hero {
        background: linear-gradient(97.47deg, #020029 2.82%, #303DBF 100%);
        position: relative;
        text-align: center;
        padding: 100px 0px;

        @media #{$sm-layout} {
            padding: 50px 0px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-image: url(/img/search/hero2.png);
            background-position: right top;
            background-repeat: no-repeat;
            z-index: 0;

            @media #{$sm-layout} {
                background-image: url(/img/search/hero2-m.svg);
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-image: url(/img/search/hero1.png);
            background-position: left bottom;
            background-repeat: no-repeat;
            z-index: 0;

            @media #{$sm-layout} {
                background-image: url(/img/search/hero1-m.svg);
            }
        }

        .title {
            color: #fff;
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            text-transform: capitalize;

            @media #{$sm-layout} {
                font-weight: 500;
                font-size: 30px;
            }

            span {
                color: #FFDA02;
            }
        }
    }

    .discount-banner {
        background: linear-gradient(97.08deg, #303DBF -1.62%, #161C59 96.34%);
        padding: 20px 15px 15px;
        border-radius: 16px;
        margin-bottom: 15px;

        .title-section {
            display: flex;
            align-items: center;
            flex-direction: row;

            img {
                height: 70px;
            }

            h5 {
                color: #fff;
                font-size: 20px;
                margin: 0px 5px;
            }
        }

        p {
            color: #fff;
            font-weight: 300;
            font-size: 15px;
            margin: 0px;
            margin-bottom: 12px;
        }
    }

    .search-banner-program {
        padding: 50px 0px;

        @media #{$sm-layout} {
            padding: 30px 0px 10px;
        }

        .search-banner-program-area-form {
            background-color: #fff;
            padding: 0px;
            border-radius: 8px;
            margin-right: 10px;

            @media #{$sm-layout} {
                margin-right: -8px;
                margin-bottom: 10px;

            }

            input {
                border: unset;
                border-radius: unset;
                font-size: 14px;
                padding: 30px 20px;
                min-height: 50px;

                @media #{$sm-layout} {
                    padding: 0px 20px;
                    min-height: 45px;
                }

                &:-webkit-autofill {
                    background-color: #fff;
                    background: #fff;

                }

                &:autofill {
                    background-color: #fff;
                    background: #fff;
                }

                &::placeholder {
                    color: #1D2939;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            .border-left-search {
                border-right: 1px solid #98A2B3;

                @media #{$md-layout} {
                    border-bottom: 1px solid #98A2B3;
                    border-right: unset;
                }

                @media #{$sm-layout} {
                    border-bottom: 1px solid #98A2B3;
                    border-right: unset;
                }
            }


        }
    }

    .search-sorting-btn-area {
        background-color: #fff;
        padding: 0px;
        border-radius: 8px;

        .dropdown,
        .dropdown-menu {
            width: 100%;
        }

        button {
            color: #667085 !important;
            font-weight: 500;
            min-height: 50px;
            width: 100%;

            @media #{$md-layout} {
                width: 100%;
            }

            @media #{$sm-layout} {
                width: 100%;
                min-height: 45px;
            }
        }

    }

    .search-program-sidebar {
        background-color: #fff;
        padding: 30px 10px;
        border-radius: 8px;

        @media #{$md-layout} {
            padding: 0px;
            margin-bottom: 30px;
        }

        @media #{$sm-layout} {
            padding: 0px;
            margin-bottom: 30px;
        }

        .tab-content {

            @media #{$md-layout} {
                padding: 15px 5px;
            }

            @media #{$sm-layout} {
                padding: 15px 5px;
            }

            .header {
                h2 {
                    font-size: 24px;
                    color: #344054;
                    font-weight: 500;
                    position: relative;

                    @media #{$sm-layout} {
                        font-size: 16px;
                        color: #fff;
                        font-weight: 500;
                        position: relative;
                    }

                    &:after {
                        content: "";
                        display: inline-block;
                        width: 100%;
                        // border-bottom: 1px solid #EAECF0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }

        .tab-pane-program-search {
            margin-bottom: 20px;

            @media #{$md-layout} {
                margin-bottom: 35px;
            }

            @media #{$sm-layout} {
                margin-bottom: 35px;
            }

            .accordion-search-program-btn {
                color: #000000;
                font-size: 16px;
                font-weight: 500;
                box-shadow: unset !important;

                @media #{$sm-layout} {
                    padding: 0px;
                    height: 45px;
                }

                img {
                    margin-right: 7px;
                }
            }

            .accordion-button:not(.collapsed) {
                &:after {
                    background-image: url(/img/search/minus.svg);
                    box-shadow: unset !important;
                }
            }

            .accordion-button {
                &:after {
                    background-image: url(/img/search/plus.svg);
                }
            }

            .search-program-body {
                padding: 5px 35px;

                @media #{$sm-layout} {
                    padding: 5px;
                }

                .widget-header {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 15px;

                    .widget-title {
                        color: #7A899F;
                        font-size: 14px;
                        font-weight: 300;
                    }

                    .widget-clear {
                        color: #303DBF;
                        font-size: 12px;
                        font-weight: 300;
                        cursor: pointer;
                    }
                }

                .search-program-body {
                    .edu-form-check {
                        @media #{$sm-layout} {
                            font-size: 14px;

                        }
                    }
                }

            }
        }
    }

    .university-program-area {
        padding: 0px;
    }

    .isotope-header {
        padding: 0px 5px;

        h2 {
            font-weight: 600;
            font-size: 28px;
            color: #000;
            margin-bottom: 10px;

            span {
                color: #667085;
                font-size: 16px;

            }
        }

        p {
            font-size: 15px;
            color: var(--color-primary);
            margin: 0px 0px 22px;
        }
    }

    .university-search-area {

        .university-search-box {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            width: 100%;
            border-radius: 8px;
            padding: 16px;
            background-color: #fff;
            margin: 15px 0px;

            .thumbnail {
                a {
                    img {

                        width: 80px;
                        height: 80px;
                    }
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: baseline;
                padding: 10px;

                .title {
                    margin: 0px;
                }

                p {
                    margin: 0px;
                }
            }
        }
    }

    input[type=checkbox] {
        padding: 0;
        height: 15px;
        width: 15px;
        margin: 0px 10px 0px;
        margin-bottom: 8px;
    }

    .custom-control-inline {
        display: flex;
        align-items: center;
    }
}

.accordion-button-main {
    @media #{$sm-layout} {
        height: 50px;
        padding: 0px;
        background: #2832a5;
        border-radius: 8px;
        color: #fff !important;
        text-align: center;
    }

    h2 {
        font-size: 16px;
        color: #ffffff;
        margin: 0px;
        padding: 0px 13px 0px;
        width: 100%;

        @media #{$sm-layout} {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &::after {}
}

.search-program-edmov .search-program-sidebar {
    @media #{$sm-layout} {
        padding: 0px;
        margin-bottom: 30px;
    }
}

.search-program-edmov .search-program-sidebar .tab-content {
    @media #{$sm-layout} {
        padding: 0px;
    }
}

.search-program-edmov .search-program-sidebar .tab-pane-program-search {
    @media #{$sm-layout} {
        margin-bottom: 0px;
    }
}

.accordion-button-main:not(.collapsed) {
    @media #{$sm-layout} {
        background-color: #303dbf;
    }


}

.accordion-button-main::after {
    @media #{$sm-layout} {
        background-image: unset !important
    }
}

.accordion-button-main:not(.collapsed)::after {
    @media #{$sm-layout} {
        background-image: unset !important
    }
}

.search-program-edmov .search-sorting-btn-area button {
    @media #{$sm-layout} {
        border-radius: 8px;
    }
}

.edu-form-check[data-v-aec10eb6] {
    @media #{$sm-layout} {
        font-size: 14px;
    }
}

.filter-image-svg {
    display: none;

    @media #{$md-layout} {
        display: block;
        margin-right: 5px;
    }
}

.university-search-box {
    display: flex;
    background: #fff;
    border-radius: 16px;
    padding: 10px;
    align-items: center;
    margin-top: 15px;

    .thumbnail {
        img {
            height: 90px;
            border-radius: 16px;
            width: 90px;
            margin-right: 10px;
            object-fit: contain;
        }
    }

    .content {
        @media #{$sm-layout} {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 10px;
        }

        h6,
        p {
            margin: 0px;
        }
    }
}

.university-program-area {
    padding: 50px 0 0;

    .university-program-area-box {
        background-color: #fff;
        border-radius: 16px;
        padding: 24px 24px;
        margin: 0;
        min-height: 432px;
        height: -moz-fit-content;
        height: fit-content;
        position: relative;

        .inner {

            .content {

                .category {
                    background-color: #F7F7FD;
                    border-radius: 6px;
                    padding: 6px 16px 6px 0px;

                    h3 {
                        font-size: 14px;
                        margin-bottom: 0px;
                        padding: 6px 16px 6px 16px;

                        a {
                            color: #667085;
                            font-weight: 400;
                        }
                    }
                }

                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-bottom: 15px;

                    a {
                        font-size: 18px;
                        line-height: normal;
                        font-weight: 500;
                    }
                }

                .university {

                    list-style: none;
                    padding: 0px;
                    margin: 10px 0px;

                    li {
                        a {
                            font-size: 16px;
                            display: flex;
                            align-items: center;

                            img {
                                height: 30px;
                                border-radius: 50%;
                                width: 30px;
                                object-fit: cover;
                                margin-right: 10px;
                            }

                        }
                    }
                }

                .price {
                    list-style: none;
                    padding: 0px;
                    margin: 10px 0px !important;

                    li {
                        color: #667085;
                        font-size: 13px;
                        font-weight: 400;
                        margin: 0px;

                        &.amount {
                            font-size: 18px;
                            color: #000;
                            font-weight: 500;

                        }
                    }
                }

                .university-program-meta {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px;
                    margin: 0px 0px 10px !important;
                    padding-right: 50px;

                    @media #{$md-layout} {
                        padding-right: 0px;
                    }

                    @media #{$sm-layout} {
                        padding-right: 0px;
                    }

                    li {
                        color: #344054;
                        position: relative;
                        font-size: 15px;
                        font-weight: 300;
                        display: flex;
                        margin: 3px 0px;

                        @media #{$md-layout} {
                            font-size: 12px;
                        }

                        @media #{$sm-layout} {
                            font-size: 12px;
                        }


                        img {
                            margin-right: 5px;
                        }

                        i {
                            padding-right: 5px;
                        }

                        &:not(:last-child) {
                            &::after {
                                // content: "";
                                // display: inline-block;
                                // height: 20px;
                                // margin-left: 100%;
                                // position: absolute;
                                // top: 50%;
                                // transform: translateY(-50%);
                                // border-right: 1px solid #000;

                                // @media #{$sm-layout} {
                                //     margin-left: 10px;
                                // }

                                // @media #{$md-layout} {
                                //     margin-left: 50%;
                                // }
                            }
                        }
                    }
                }


            }

            .read-more-btn {

                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                width: 88%;
                bottom: 10px;

                // @media #{$md-layout} {
                //     position: relative;
                //     width: fit-content;
                //     bottom: unset;
                // }

                // @media #{$sm-layout} {
                //     position: relative;
                //     width: fit-content;
                //     bottom: unset;
                // }

                .btn {
                    width: 50%;
                    height: -moz-fit-content;
                    height: fit-content;
                    padding: 10px 0px;

                    &:first-child {
                        margin-right: 10px;
                    }

                    &:last-child {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

}

.accordion-collapse,
#Filter {
    @media #{$lg-md-device} {
        display: block !important;
    }
}

.disabled {
    color: #404A59;
    width: 100%;
}

.coming {
    color: #303DBF;
    background: #DEE0F7;
    padding: 2px 2px;
    border-radius: 2px 0px 0px 0px;
    font-size: 9px;
}


.discount-modal {
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    overflow: hidden;


    // .discount-modal::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background-image: url('/img/search/bg-discount.svg');
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     z-index: 99;
    // }

    .header-discount {
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 16px 16px 0px 0px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        // background: rgba(48, 61, 191, 0.84);
        background-image: linear-gradient(rgb(48 61 191 / 84%), rgb(31, 40, 130)), url(/img/search/bg-discount.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media #{$sm-layout} {
            padding: 30px 20px;
        }

        .title {
            color: #fff;
            font-size: 30px;
            margin: 10px 30px;

            @media #{$sm-layout} {
                font-size: 25px;
            }
        }

        img {
            @media #{$sm-layout} {
                height: 100px;
            }
        }

    }

    .close-model {
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        font-size: 13px;
        width: 25px;
        height: 25px;
        text-align: center;
        font-weight: 100;
        position: absolute;
        top: 35px;
        left: 30px;
        z-index: 9999;
    }

    .body {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .p-main {
            margin: 0px;
            font-size: 17px;
            font-weight: 600;

            span {
                color: #303DBF;

            }
        }

        .p-details {
            margin: 0px;
            font-size: 15px;
            font-weight: 300;
        }

    }
}
