.switcher-profile {
    padding: 4px;
    border-radius: 8px;
    background: #fff;

    li {
        margin: 0px;
        margin-right: 20px;

        button {
            span {
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                text-align: center;
                color: #475467;
            }

            &.active {
                padding: 10px;
                border-radius: 8px !important;
                background: #EFF0FB;

                span {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    text-align: center;
                    color: #303DBF;
                }
            }
        }
    }
}

.card-setting-profile {
    margin: 30px 0px 40px 0px;

    .card-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #000;
        text-transform: capitalize;
        padding: 10px 0px 15px 0px;
    }

    label {
        color: #1D2939;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
    }

    input,
    select,
    .input-tel__input {
        padding: 0px 10px;
        border-radius: 8px;
        border: medium none currentcolor;
        border: initial;
        margin: 0px 0px 0px 0px;
        height: 45px;
        font-size: 13px;
        border: 1px solid #EAECF0 !important;
    }

    .vue-phone-number-input {
        margin: 0px 0px 0px 0px;
    }

    .country-selector__input {
        padding: 0px 0px 0px 50px;
        border-right: 1px solid #D0D5DD !important;
    }

    .input-tel__input {
        background-color: #fff;
        margin-left: unset;
        min-height: unset;
    }

    .form-check-input[type=radio] {
        height: 15px;
        width: 18px;
        padding: 8px 0px;
        margin-top: 5px;
        border: 1px solid #475467;
    }

    input[type=radio]~label {
        padding-left: 10px !important;
    }
}

.switch {
    position: relative;
    display: flex;

    .form-check-label {
        padding-left: 70px;
        font-size: 16px;
        z-index: 1;
    }
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round-switch {
    border-radius: 34px;
    width: 60px;
    cursor: pointer;
}

.card-setting-profile .form-check-label {
    cursor: pointer;
}

.slider.round-switch:before {
    border-radius: 50%;
}



.switch {
    margin: 20px 0px;
}

.country-selector__input.is-disabled .input-tel__input {
    border-color: #e9ecef !important;
    background-color: #e9ecef !important;
}

.country-selector.is-disabled .country-selector__input {
    border-color: #e9ecef !important;
    background-color: #e9ecef !important;
}

#ModalUploadDoc {
    .modal-header.Modelheader {
        border: unset;
        margin-bottom: -20px;
    }

    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        margin: 0px;
        padding: 0px;
        height: 12px;
    }

    .Modelheader .close {
        background: unset;
        border: unset;
        font-size: 25px;
    }

    .modal.show .modal-dialog {
        transform: none;
        min-width: 43%;
    }

    .modal-content {
        background: #fff !important;
        padding: 10px 20px;
    }

    .dropzone.dz-clickable {
        background: #fff !important;
        border: 2px dashed #D2D7DF !important;
    }

    .dropzone .dz-preview.dz-image-preview {
        background: white;
        width: 170px;
        height: 170px;
    }

    .dropzone .dz-preview .dz-image img {
        display: block;
        width: 170px;
        height: 170px;
        object-fit: cover;
        border-radius: 16px;
    }

    .vue-dropzone>.dz-preview .dz-details {
        background-color: rgb(134 134 134 / 80%);
        border-radius: 16px;
    }

}

.document-section {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 56px;
    padding: 16px 12px 16px 12px;
    gap: 0px;
    border-radius: 8px;
    margin-bottom: 12px;

    h4 {
        font-size: 15px;
        font-Weight: 500;
        cursor: pointer;
        margin: 0px;
        text-transform: capitalize;
    }

    svg {
        cursor: pointer;
        margin: 10px;
    }
}
