/*---------------------------
 * Swiper Styles
----------------------------*/
.swiper-wrapper {
    .swiper-slide {
        padding: 0 10px;
    }
}
// Nav Arrow Style 
.swiper-navigation {
    .swiper-btn-nxt,
    .swiper-btn-prv {
        display: inline-block;
        height: 45px;
        width: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
        font-size: 22px;
        background: #fff;
        color: #D0D5DD;
        @media #{$sm-layout} {
            font-size: 18px;
        }
        &:hover {
            background: #4362F9;
            color: #fff;
        }
    }
}
.blog-gallery-activation {
    position: relative;
    .swiper-navigation {
        .swiper-btn-nxt,
        .swiper-btn-prv {
            position: absolute;
            top: 45%;
            z-index: 1;
        }
        .swiper-btn-nxt {
            left: 30px;
        }
        .swiper-btn-prv {
           right: 20px;
        }
    }
}
