/*---------------------------
/*---------------------------
* university Styles
----------------------------*/
.university-details-edmov {
    background-color: #F9FAFB;

    .university-hero {
        padding: 50px 0 0;

        .university-hero-img {
            display: flex;
            align-items: center;

            .thumbnail {
                img {
                    max-width: 100px;
                    margin-right: 15px;
                    border-radius: 50%;
                }
            }

            .author-content {
                h6 {
                    color: var(--color-primary);
                    font-size: 35px;
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 40px;

                    @media #{$md-layout} {
                        font-size: 27px;
                    }

                    @media #{$sm-layout} {
                        font-size: 25px;
                    }
                }
            }
        }

        .university-hero-location {
            .location {
                display: flex;
                align-items: center;
                margin: 15px 0px;

                i {
                    margin-right: 10px;
                    color: #303DBF;
                    font-size: 20px;
                }

                span {
                    color: #98A2B3;
                    font-size: 16px;
                    margin-top: 5px;
                }
            }

            .btn-apply {
                .btn-lg {
                    width: 80%;
                    padding: 10px 20px;
                    height: 50px;
                    font-size: 17px;
                }

            }




        }

        .hero-card-university {
            .col-mobile-50 {
                @media #{$sm-layout} {
                    width: 50% !important;
                }
            }

            .hero-university-box {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background: #fff;
                padding: 24px 15px 24px 15px;
                border-radius: 16px;
                min-height: 200px;
                position: relative;
                z-index: 5;

                @media #{$sm-layout} {
                    margin: 10px 0px 0px;
                }

                .content {
                    color: #475467;
                    display: flex;
                    flex-direction: column;
                    min-height: 120px;

                    .icon {
                        color: #475467;

                        img {
                            width: 35px;
                        }
                    }

                    .title {
                        color: #475467;
                        font-weight: 400;
                        font-size: 14px;
                        margin-top: 10px;
                        padding: 0px 20px 0px 0px;
                    }

                    p {
                        color: #303DBF;
                        position: absolute;
                        bottom: 0;
                        font-size: 14px;
                    }
                }
            }
        }

        .university-image-details {
            position: relative;

            .university-img-full {
                img {
                    border-radius: 24px;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                iframe {
                    border-radius: 24px;
                    width: 100%;
                }
            }

            .hero-card-university {
                position: absolute;
                top: -180px;
                right: 15px;

                @media #{$sm-layout} {
                    top: -50px;
                    right: initial;
                    position: relative;
                }
            }
        }



        .btn-apply-desktop {

            @media #{$sm-layout} {
                display: none;
            }
        }

        .btn-apply-mobile {
            display: none;
            width: 100%;

            @media #{$sm-layout} {
                display: block;
            }

            a {
                width: 100%;
            }
        }
    }

    .main-title-university {

        .title,
        h4,
        h1,
        h2 {
            color: #303DBF;
            font-size: 27px;
            font-weight: 400;
            text-transform: capitalize;

            @media #{$sm-layout} {
                font-size: 20px !important;
                // padding: 0px 10px;
            }
        }

    }

    .about-university-area {
        padding: 0px 0 0;

        .founded-about-university {
            span {
                color: #000;
                font-size: 17px;
            }
        }

        p {
            color: #344054;
            font-size: 15px;
            margin-bottom: 0px;
        }

        .show-more {
            color: #303DBF;
            font-size: 16px;
        }
    }



    .university-features-area {
        margin-top: 50px;
        position: relative;
        padding: 50px 0px 80px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(90deg, #04005C 0%, #303DBF 100%);
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            z-index: 0;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url('/img/home/bg-112.png') no-repeat right;
            z-index: 1;
        }

        .main-title-university {
            z-index: 2;
            position: relative;

            .title {
                text-align: left;
                color: #fff;
                z-index: 999;
            }

        }

    }

    .university-features-area-tab {
        position: relative;
        margin-top: -50px;
        z-index: 1;

        .w-50-mobile {
            @media #{$md-layout} {
                // width: 50%;
                margin-bottom: 5px;
            }

            @media #{$sm-layout} {
                //  width: 50%;
                margin-bottom: 5px;
            }
        }

        .university-features-grid {
            z-index: 999;
            padding: 15px 40px 15px 40px;
            border-radius: 16px;
            background-color: #fff;
            margin: 10px 0px;

            @media #{$sm-layout} {
                padding: 15px 5px;
            }

            .sub-feature {
                z-index: 999;
            }

            .content {
                .title {
                    text-align: center;
                    font-weight: 400;
                    color: #475467;
                    font-size: 15px;
                    margin: 0px;

                    @media #{$sm-layout} {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .gallery-area {
        padding: 50px 0 0;

        .gallery-img {
            margin: 0px 0px 25px;
            border-radius: 16px;

            @media #{$sm-layout} {
                margin: 0px 0px 15px;
            }
        }

        .item-0 {
            width: 100%;
            height: 606px;
        }

        .item-1 {
            width: 100%;
            height: 253px;
        }

        .item-2 {
            width: 100%;
            height: 257px;
        }

        .item-3 {
            width: 100%;
            height: 290px;
        }

        .item-4 {
            width: 100%;
            height: 290px;
        }

        .item-5 {
            width: 100%;
            height: 594px;
        }



        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 16px;

        }

    }

    .university-program-area {
        padding: 50px 0 0;

        .btn-primary-white {
            background: #f9fafb;

        }
    }

    .address-area {
        padding: 50px 0 0;

        .address-us-info {
            background-color: #fff;
            border-radius: 16px;
            margin: 0px !important;

            ul {
                padding: 20px 40px;
                margin-bottom: 10px;
                list-style: none;

                li {
                    p {
                        font-size: 16px;
                        color: #000;
                        margin: 0px 0px 10px;
                    }
                }
            }
        }
    }

    .accommodation-area {
        padding: 50px 0 0;

        .accommodation-details-content {
            padding: 16px 40px 16px 40px;
            background: #fff;

            .title {
                color: #303DBF;
                font-size: 20px;
                font-weight: 400;
            }

            p {
                font-size: 15px;
            }

        }

    }

    .partner-accommodation-area {
        padding: 20px 0 0;

        .main-header-partner {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 10px;
            margin-top: 20px;

            .title {
                margin-bottom: 5px;
            }
        }

        .accommodation-program {
            background-color: #fff;
            border-radius: 16px;

            .inner {
                .thumbnail {
                    a {
                        img {
                            border-radius: 16px 16px 0px 0px;
                        }
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    padding: 15px 15px 20px 15px;

                    .title {
                        margin-bottom: 0px !important;
                        font-size: 18px;
                        color: #000;
                        font-weight: 600;
                        padding: 5px 0px;
                        line-height: 20px;

                        @media #{$sm-layout} {
                            font-size: 16px;
                        }
                    }

                    .accommodation-location {
                        line-height: 20px;
                        padding: 5px 0px;

                        span {
                            color: #000;
                            font-weight: 300;
                            font-size: 14px;
                        }
                    }

                    .accommodation-space {
                        line-height: 20px;
                        padding: 5px 0px;

                        span {
                            color: #000;
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }

                    .accommodation-price {
                        line-height: 20px;
                        font-size: 14px;
                        font-weight: 300;
                        color: #303DBF;
                        padding: 5px 0px;

                        span {
                            font-size: 18px;
                        }
                    }

                }

                .partner-accommodation-box-swiper {
                    margin: 0px;
                }
            }
        }
    }


    .program-view-all-btn {
        margin: 30px auto;
    }

    .faq-university-page-area {
        padding: 50px 0 0;
    }

    .similar-university-area-area {
        padding: 50px 0;

        .uni-box-swiper {
            margin-top: 0px;
        }
    }



    .btn {
        @media #{$md-layout} {
            padding: 10px;
        }

        @media #{$sm-layout} {
            padding: 10px;
        }
    }
}

.address-list-tab {
    display: flex;

    li {
        margin: 0px 10px;
    }
}