.bg-EAECF0 {
    background: #EAECF0 !important;
}

.wizard-area {
    background: #eaecf0;
    margin: 0px;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wizard-answer {
    min-height: 50px;
    border: 1px solid #EAECF0;
    background: #fff;
    border-radius: 8px;
    margin: 10px auto;
    align-items: center;
    padding: 15px 20px;
    max-width: 450px;
    text-align: left;
    min-width: 250px;
    display: flex;

    .svg-icon {
        margin: 0px 4px;
    }

    span {
        color: #475467;
        font-size: 15px;
        font-weight: 300;
    }
}


.wizard-answers {
    @media #{$sm-layout} {
        width: 100%;
    }

    .selected-answer {
        border: 2px solid #303DBF;
    }
}

.next-btn {
    min-width: 300px;
    height: 52px;
    margin: 100px 0px 0px 0px;
    background-color: #303DBF;
    background: #303DBF;
    color: #fff;
}


.grid-0-column {
    width: 100%;
    margin-bottom: 80px;

    .wizard-answer {
        @media #{$sm-layout} {
            width: 100%;
        }
    }
}

.grid-1-column {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;

    .wizard-answer {
        width: 23%;

        @media #{$sm-layout} {
            width: 100%;
        }
    }
}

.grid-2-column {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;

    .wizard-answer {
        width: 30%;

        @media #{$sm-layout} {
            width: 100%;
        }
    }
}

.grid-3-column,
.grid-4-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;

    .wizard-answer {
        margin: 15px;
        max-width: unset;
        text-align: left;
        min-width: unset;
    }

    @media #{$sm-layout} {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;

        @media #{$sm-layout} {
            width: 100%;
        }

        .wizard-answer {
            min-width: fit-content !important;
        }
    }
}

.button-next-wizard {
    display: flex !important;
    flex-direction: row;
    text-align: center !important;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: row-reverse !important;

    svg {
        transform: rotateY(180deg);
    }

    span {
        padding: 0px 10px;
    }
}

.dots {
    display: flex;
    position: absolute;
    top: 91px;
    right: 0px;
    width: 100%;

    span {
        width: 30px;
        height: 14px;
        width: 25%;
        display: block;
        transition: all 0.3s;

        &.active {
            background: #039855;

        }
    }
}

.btn-skip-wizard {
    margin: 20px 0px;
    color: #303DBF;
}

.btn-back-question {
    position: absolute;
    top: 120px;
    left: 30px;
    background: unset !important;
}

.btn-back {
    border: unset;
    background: unset !important;
    transform: rotateY(180deg);
}
