.user-profile-img img {
    width: 24px;
    height: 24px;
    display: block;
}

#customdropdown .nav-item {
    position: relative;
}

#customdropdown .nav-link.nav-icon-hover {
    cursor: pointer;
}

#customdropdown .customdropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    height: fit-content;
    padding: 0px 25px;
}

#customdropdown .customdropdown-notify {
    min-width: 250px;
    padding: 20px;
}

.customdropdown-notify .btn {
    font-size: 12px;
    text-align: center;
    padding: 8px 30px;
    margin: auto;
    display: block;
}

#customdropdown .customdropdown.show {
    display: block;
}

#customdropdown .customdropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#customdropdown .customdropdown-item:last-child {
    border-bottom: none;
}

#customdropdown .notification-content {
    margin-left: 10px;
}

#customdropdown .notification-title {
    font-size: 14px;
    margin: 0;
}

#customdropdown .notification-description {
    font-size: 12px;
    margin: 5px 0;
}

#customdropdown span {
    cursor: pointer;
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

.previewFile img {
    width: 100%;
    max-height: 200px;
}

@media only screen and (max-width: 767px) {
    .filters-box {
        margin-bottom: 40px;
    }
}
