/*--------------------------
    Header Styles  
--------------------------*/
.edu-header {
    .header-mainmenu {
        background-color: var(--color-white);
        position: relative;

        @media #{$smlg-device} {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @media #{$sm-layout} {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        // z-index: 99; required, conflict issue with z-10 class
        &.edu-sticky {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 99;
            background-color: var(--color-white);
            animation: headerSticky 0.95s ease forwards;
        }
    }

    .header-navbar {
        display: flex;
        align-items: center;

        @media #{$smlg-device} {
            justify-content: space-between;
        }

        .header-mainnav {
            flex: 1;

            @media #{$smlg-device} {
                display: none;
            }
        }
    }

    .header-brand {
        display: flex;
        align-items: center;

        img {
            &.logo-dark {
                display: none;
            }

            &.logo-light {
                display: inline-block;
                height: 40px;
                width: 100%;
            }
        }

        .logo {
            margin-right: 40px;

            @media #{$large-mobile} {
                margin-right: 15px;
            }

            a {
                display: block;
            }
        }
    }

    .image-categories {
        width: 100%;
        height: 100%;
    }

    .header-category {
        border-left: 1.5px solid #f2f2f2;
        border-right: 1.5px solid #f2f2f2;
        margin-right: 10px;

        @media only screen and (max-width: 1350px) {
            display: none;
        }

        .mainmenu {
            li {
                &.has-droupdown {
                    >a {
                        padding: 0 40px;

                        i {
                            padding-right: 10px;
                            font-size: 18px;
                            position: relative;
                            top: 2px;
                        }

                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &.header-fullwidth {

        .header-mainmenu,
        .header-top-bar {
            padding-left: 62px;
            padding-right: 62px;

            @media only screen and (max-width: 1699px) {
                padding-left: 22px;
                padding-right: 22px;
            }

            @media #{$sm-layout} {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

/*------------------------
    Header Style One  
--------------------------*/
.header-style-1 {
    .header-top {
        .header-top-left {
            .header-notify {
                @media #{$lg-layout} {
                    font-size: 13px;
                }

                @media #{$md-layout} {
                    text-align: center;
                    padding: 15px 0 5px;
                }

                @media #{$sm-layout} {
                    text-align: center;
                    padding: 15px 0 5px;
                }
            }
        }

        .header-info {
            @media #{$lg-layout} {
                margin: 0 -20px;
            }

            @media #{$sm-layout} {
                margin: 0 -10px;
            }

            li {
                @media #{$lg-layout} {
                    padding: 14px 15px 12px;
                    font-size: 13px;
                }

                @media #{$sm-layout} {
                    padding: 10px;
                }

                &:after {
                    @media #{$md-layout} {
                        height: 50%;
                    }

                    @media #{$sm-layout} {
                        display: none;
                    }
                }

                @media only screen and (max-width: 1350px) {
                    &:nth-last-child(2) {
                        &:after {
                            display: none;
                        }
                    }
                }

                &.social-icon {
                    @media only screen and (max-width: 1350px) {
                        display: none;
                    }
                }
            }
        }
    }

    .header-mainnav {
        .mainmenu-nav {
            .mainmenu {
                @media only screen and (max-width: 1350px) {
                    justify-content: center;
                }
            }
        }
    }

    .header-action {
        li {
            &.search-icon {
                display: none;

                @media only screen and (max-width: 1699px) {
                    display: block;
                }
            }
        }

        >li {
            >a {
                color: var(--color-heading);
                padding: 0 26px;
                display: block;
                height: 90px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: auto !important;
                transition: 0.3s;

                @media #{$lg-layout} {
                    padding: 0 17px;
                }

                @media #{$md-layout} {
                    padding: 0 12px;
                }

                &:hover,
                &.active {
                    color: var(--color-primary) !important;
                }
            }
        }
    }
}