/*-------------------------
   Footer Styles
-------------------------*/
.edu-footer {
    position: relative;

    // z-index: 1;
    .footer-top {
        position: relative;
        padding: 50px 0;
        background: var(--color-primary-dark);
        padding-bottom: 100px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(/img/home/footer-bg.webp);
            background-repeat: no-repeat;
            background-size: inherit;
            background-position: left bottom;
        }

        @media #{$md-layout} {
            padding: 80px 0;
        }

        @media #{$sm-layout} {
            padding: 60px 0;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: unset !important;
                background-image: url(/images/index/footer-sm.png) !important;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    &.footer-style-1 {
        .footer-top {
            .edu-footer-widget {
                .logo {
                    a {
                        img {
                            &.logo-dark {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .description {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .information-list {
        @extend %liststyle;

        li {
            margin-top: 0;
            margin-bottom: 0;

            span {
                font-weight: 500;
                margin-right: 5px;
            }

            a {
                transition: 0.3s;
            }

            &+li {
                margin-top: 5px;
            }

            &:hover {
                a {
                    color: var(--color-primary);
                }
            }
        }
    }

    .edu-footer-widget {
        position: relative;
        z-index: 1;

        .logo {
            a {
                img {
                    &.logo-light {
                        display: inline-block;
                        margin-bottom: 20px;
                        height: fit-content;
                        max-width: 150px !important;
                    }
                }
            }
        }

        .inner {
            margin-top: 15px;
        }

        .footer-link {
            list-style: none;
            padding: 0;
            margin-bottom: 0;

            li {
                margin-top: 0;
                margin-bottom: 0;

                a {
                    display: block;
                    line-height: 26px;
                }

                &+li {
                    margin-top: 11px;
                }

                &:hover {
                    a {
                        color: var(--color-primary);
                    }
                }
            }
        }

        .input-group {
            margin-bottom: 15px;

            .form-control {
                background-color: var(--color-white);
                border-radius: var(--border-radius-btn);
                font-size: var(--font-size-b1);
                font-weight: 400;
                border: none;
                height: 50px;
                padding: 0 15px;
            }

            button {
                height: 50px;
                border-radius: var(--border-radius-btn);
                color: var(--color-heading);
                width: 100%;
            }
        }

        &.explore-widget {
            margin-left: 65px;

            @media #{$lg-layout} {
                margin-left: 0;
            }

            @media #{$md-layout} {
                margin-left: 0;
            }

            @media #{$sm-layout} {
                margin-left: 0;
            }
        }

        .input-group {
            &.footer-subscription-form {
                @media #{$small-mobile} {
                    flex-direction: column;
                }

                .form-control {
                    @media #{$small-mobile} {
                        width: 100%;
                        height: 50px;
                        margin-bottom: 20px;
                    }
                }

                button {
                    @media #{$small-mobile} {
                        margin-left: 0px !important;
                    }
                }
            }
        }
    }

    &.footer-dark {
        .widget-title {
            color: var(--color-white);
        }

        p {
            color: #bababa;
        }

        li {
            color: #bababa;
        }

        a {
            color: #bababa;
        }
    }

    &.footer-lighten {
        .widget-title {
            font-size: 16px !important;
            color: var(--color-white);
            text-transform: capitalize;
            font-weight: 100;
            line-height: var(--h4-lineHeight);
            margin: 0 0 20px;
        }

        p {
            color: var(--footer-text-light);
            font-size: 14px !important;
        }

        li {
            color: var(--footer-text-light);
        }

        a {
            color: var(--footer-text-light);
        }
    }

    &.footer-light {
        p {
            color: var(--color-heading);
        }

        li {
            color: var(--color-heading);
        }

        a {
            color: var(--color-heading);
        }

        .edu-footer-widget {
            .input-group {
                .form-control {
                    background-color: var(--color-lighten04);
                }
            }
        }
    }
}

/*-------------------------
    Copyright Styles  
--------------------------*/
.copyright-area {
    padding: 32px 0;

    p {
        margin-bottom: 0;
    }
}

.footer-dark {
    .copyright-area {
        border-top: 1px solid #1f2020;

        a {
            color: var(--color-primary);

            &:hover {
                background: var(--gradient-primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.footer-lighten {
    .copyright-area {
        background-color: #ebeff0;

        p {
            color: var(--color-black);
        }

        a {
            color: var(--color-primary);

            &:hover {
                background: var(--gradient-primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.footer-light {
    .copyright-area {
        background-color: var(--color-white);
        border-top: 1px solid #e5e5e5;

        p {
            color: var(--color-heading);
        }

        a {
            color: var(--color-primary);

            &:hover {
                background: var(--gradient-primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.footer-bottom {
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgb(27 22 125);
    padding: 10px 0px 0px;

    .social-share.icon-transparent {
        li {
            a {
                color: var(--footer-text-light);
            }
        }
    }
}

.footer-space-top {
    margin-top: 100px;

    @media #{$md-layout} {
        margin-top: 10px;
    }

    @media #{$sm-layout} {
        margin-top: 10px;
    }
}